{%load comment%}
<ul id="recent_comment">
{% for comment in comments %}
<li id="rc_item" class="rc_item">
	<div class="rc_avatar rc_left">
		<img class="avatar avatar-32 photo" width="32" height="32" src="{% gravator comment.email %}" alt='{{comment.author}}'/>
	</div>
	<div class="rc_info">
		<span class="author_name">
			<a href="{{comment.get_absolute_url}}" title="发表于：{{comment.object.title|escape}}">{{comment.author}}</a>
		</span>
	</div>
	<div class="rc_excerpt">
		{{comment.content|safe}}
	</div>
</li>
{% endfor %}
</ul>