<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{% block title %}{{blog.blogtitle}}{%endblock%}</title>
<link href="/static/jm/jquery.mobile-1.0.min.css" rel="stylesheet" type="text/css" />
<link href="/static/mobile.css" rel="stylesheet" type="text/css" />
<script src="/static/js/jquery.min.js"></script>
<script src="/static/jm/jquery.mobile-1.0.min.js"></script>
</head>
<body>
	<div data-role="page"> 
		{% block content %}{% endblock %}
		<div data-role="footer" class="footer-docs" data-theme="c">
			<p>&nbsp;&copy; 2011~2012 {{blog.blogtitle}}</p>
			<p>&nbsp;<a href="{%url wap_index%}" data-role="button" data-ajax="false" data-icon="home">{{blog.blogtitle}}</a>
				<a href="{%url index_home%}" data-role="button" data-ajax="false" data-icon="home">网页版</a>
			</p>
		</div>	
	</div> 
</body>
</html>