{%extends "wap/base.html"%}
{% block content %}
<div data-role="header">
	<div><h1>&nbsp;{{blog.blogtitle}}</h1></div>
</div>

<div data-role="header">
	<div data-role="navbar">
		<ul>
		{%for cate in categories %}
			<li><a href="{{cate.get_wap_url}}">{{cate.name}}</a></li>
		{%endfor%}	
		</ul>
	</div>
</div>

<div data-role="content">
	<ul data-role="listview" data-inset="true" data-theme="c">
		{%for post in posts.object_list%}
		<li><a class="ui-link-inherit"
			href="{{post.get_wap_url}}">
				<h3 class="ui-li-heading">{{post.title}}</h3>
				<p class="ui-li-desc">发布于 {{post.date|date:"Y-m-d"}}({{post.get_comments.count}}条评论)</p> </a>
		</li>
		{%endfor%}
	</ul>
</div>
{% if posts.has_next %}
<a href="?page={{ posts.next_page_number }}" data-role="button" data-inline="true" data-icon="arrow-l">上一页</a>
{%endif%}
{% if posts.has_previous %}
<a href="?page={{ posts.previous_page_number }}" data-role="button" data-inline="true" data-icon="arrow-r" data-iconpos="right">下一页</a>	<br/>
{%endif%}
{% endblock %}
