{% extends "themes/classic/base.html" %}
{% block title %} {{post.title|escape}} - {{blog.blogtitle|escape}} {% endblock %}
{% block head_block %}

{%if post %}
{%if post.tags%}<meta name="Keywords" content="{{post.tags|escape}}" />{%endif%}
{%if post.excerpt%} <meta name="Description" content="{{post.excerpt|escape}}" />{%endif%}
{% endif %}

{% endblock %}

{% block content %}
		{% if post %}
		<article class="post">
			<h2><a href="/{{ post.get_absolute_url|escape }}" rel="bookmark">{{ post.title|escape }}</a></h2>
			<div class="pmeta">{{post.date|date:"Y-m-d"}} <span>&middot;</span> Posted in <a href="/category/{{entry.category.slug}}">{{post.category.name}}</a></div>
			<div class="entry">
				{% if error%}
				<p class="error">你提供的密码不正确,请重试!</p>
				{%endif%}
				<form action="" method="post" name="password_from">
					{% csrf_token %}
						<p>本文已加密，请输入密码查看： </p>
						<p>
							<input type="password" name="post_password">
							<input type="hidden" name="postid" value="{{post.id}}"/>
							<input type="submit" value="提交"/>
						</p>
				</form>
			</div>
			
			<div class="prev_next">
				<span class="prev">
					{%if post.prev%}<a href="{{post.prev.get_absolute_url}}">&laquo; {{post.prev.title}}</a>
					{%else%}
					&laquo;没有了
					{%endif%}
				</span>
				
				<span class="next">
				{%if post.next%}<a href="{{post.next.get_absolute_url}}">&raquo; {{post.next.title}}</a>
					{%else%}
					&raquo;没有了
					{%endif%}
				</span>
		</div>
			
			<div class="tags">Tags: {% for tag in post.get_tags %}
						<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
					{% endfor %} </div>
		</article>
		
		{% include "themes/classic/comments.html" %}
		
		{%else%}

		<h2>Not Found</h2>
		<p>Sorry, but you are looking for something that isn't here.</p>

	{%endif%}
	
{%endblock%}