<div style="float:left;" id="logpress_menu">
      <div>
        <span>控制板</span>
	        <a href="/admin">控制板</a>
      </div>
      <div>
        <span>文章</span>
			<a href="/admin/blog/post">编辑</a>
	        <a href="/admin/blog/post/add">添加新文章</a>
	        <a href="/admin/blog/category">分类目录</a>
      </div>
       <div>
        <span>页面</span>
			<a href="/admin/blog/page">编辑</a>
	        <a href="/admin/blog/page/add/">添加新页面</a>
      </div>
      <div>
        <span>评论</span>
			<a href="/admin/blog/comment">评论</a>
      </div>
      <div>
        <span>链接</span>
	        <a href="/admin/blog/link">链接</a>
      </div>
      <div>
      	<span>用户</span>
      	<a href="/admin/auth/user">作者和用户</a>
      	<a href="/admin/auth/user/{{request.user.id}}">我的配置</a>
      </div>
      <div>
      	<span>工具</span>
      	<a href="">工具</a>
      </div>
      <div>
        <span>设置</span>
			<a href="{%url settings%}">常规</a>
			<a href="">评论</a>
			<a href="">固定链接</a>
      </div>
</div>